<a href="https://colab.research.google.com/github/thlystrd/LinearAlgebra_2ndsem/blob/main/Activity_1_Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Python Fundamentals
In this module, we are going to establish or review our skills in Python programming. In this notebook we are going to cover:
* Variables and Data Types 
* Operations
* Input and Output Operations
* Logic Control
* Iterables
* Functions

## Variable and Data Types

- codes used for identifying and calling out certain data types such as the following:
   - **Integer** - whole numbers.
   - **Float** - numbers that contain decimals.
   - **String** - charaters that are placed inside quotation marks.

In [101]:
uwu = 11
aha,ahha = 3, -11
eme, emme, emme = 4, 5, 6
uwu

11

In [102]:
type(uwu)

int

In [103]:
ehe = 1.0
type(ehe)

float

In [104]:
uwu = float(uwu)
type (uwu)

float

In [105]:
k,a,r = 3 , 11.11 , 'twenty'
type (r)

str

In [106]:
k_int = int(k)
k_int

3

## Operations

###Arithmetic

- assigning numbers (integer or float) to each variable and using these variables to perform the following basic operations:
  - **Addition** - wherein the sum of variables is equal to the sum of their values.
  - **Subtraction** - wherein the difference of variables is equal to the difference of their designated values.
  - **Multiplication** - wherein the product of variables is equal to the product of their designated values.
  - **Division** - wherein the quotient of variables is equal to the quotient of their designated values.
  - **Floor Division** - Division wherein the quotient containing a decimal point is the rounded up to the closest integer.
  - **Exponentiation** - Wherein a variable is exponentiated. 
  - **Modulo** - Division operation wherein only the remainder is returned. [1]

In [107]:
a , b , c , d = -3 , -11 , 20 , 20

In [108]:
### Addition
S = a+b
S

-14

In [109]:
### Subtraction
D = b - d
D

-31

In [110]:
### Multiplicaion
P = a * d
P

-60

In [111]:
### Division
Q = a / c
Q

-0.15

In [112]:
### Floor Division
Fq = d // c
Fq

1

In [113]:
### Exponentation
E = a**c
E

3486784401

In [114]:
### Modulo
mod = a%c
mod

17

### Assignment Operations

- assigning numbers (integer or float) to each variable and using these variables to perform the following operations:
  - **Increment or Addition Assignment Operator** - wherein each time the code runs the value of G increases by d.
  - **Decrement or Subtraction Assignment Operator** - wherein each time the code runs the value of H decreases by a.
  - **Multiplication Assignment Operator** - wherein each time the code runs the value of J would be multiplied to a value of 2. 
  - **Exponent Assignment Operator** - wherein each time the code runs the value of K would be raised to a value of 3.

In [191]:
G , H , J , K = 6 , 12 , 20 , 2

In [153]:
G += a
G

-3

In [155]:
H -= b
H

34

In [163]:
J *= c
J

100

In [192]:
K **= d
K

1048576

### Comparators

- assigning and integer, float, or string to each variable and using these variables to perform the following comparison operators to determine if the condition would prove to be either true or false:
  - **Equality** - when two operands are equal then the condition is true, if not then false.
  - **Non-Equality** - when two operands are not equal then the condition is true, if not then false.
  - **Inequality**
    - *Greater than* - when the left operand is greater than the right then the condition is true, if not then false.
    - *Less than* - when the left operand is less than the right then the condition is true, if not then false.
    - *Greater than or Equal to* - when the left operand is greater than or equal to the right then the condition is true, if not then false.
    - *Less than or Equal to* - when the left operand is less than or equal to the right then the condition is true, if not then false.

In [215]:
res_1, res_2, res_3 = 3, 6, 19
true_val = 3.0

In [198]:
## Equality
res_2 == true_val

False

In [199]:
## Non-equality
res_2 != true_val

True

In [200]:
## Inequality
t1= res_1 > res_2
t2= res_1 < res_2/2
t3= res_1 >= res_2/2
t4= res_1 <= res_2
t3

True

### Logical

**Boolean value** - This is a built-in data type in Python that is mostly used in logical operations to represent an expressions truth value.

- assigning and integer, float, string, or boolean value [2] to each variable and using these variables to perform the following logical operators:
  - **Equality** - used to compare two operands to check if they are equal. This would show true if both operands are equal and false if not.
  - **Is** - used to compare two operands to check if they are the same identity [3]. This would show true if both operands are the same and false if not.
  - **Conjunction** - uses "and" in between two operands. This would show true if both operands are true and false if not.
  - **Disjunction** - uses "or" in between two operands. This would show true if atleast one of the operands is true and false if none are true.
  - **Negation** - uses "not" at the beginning of an operand. This would show true if the operand is false and false if the operand is true.

In [201]:
res_1 == true_val

True

In [211]:
res_2 == true_val

False

In [217]:
res_1 is true_val

False

In [203]:
res_1 is not true_val

True

In [220]:
p,q = True, False 
conj = p and q
conj

False

In [219]:
p,q = True, True 
conj = p and q
conj

True

In [221]:
p,j = True, True
disj = p or q
disj

True

In [222]:
p,j = True, False
disj = p or q
disj

True

In [223]:
p,j = False, False
disj = p or q
disj

False

In [206]:
p, q = True , False
e = not (q)
e

True

In [207]:
p,q = True, False
xor = (not p and q) or (p and not q)
xor

True

### I/O

**I/O** - stands for Input/Output and it is informaly known as IO or io. I/O shows a string that serves as an output based on what you input. [4]



> Commands or Declarations that are used under Input/Output are the following:


> - **Print** - easiest way to produce an output whrein you can type a statement or different statements that are to be separated by a comma. Converts statements into strings and produces an output.
- **Counter** - a declaration where you can set the starting number for the command "cnt". An increment will result to an increase to the set value of the counter.
- **Input** - displays a prompt that will ask you to input a text or a value. Depending on your code, it can display the text or value right away or it can use your text or value for the string that will be printed as the output.

In [131]:
print ("Hello Master")

Hello Master

In [224]:
cnt=1

In [225]:
string = "Hello World"
print(string,  ",Current run count is:" , cnt)
cnt += 1

Hello World ,Current run count is: 1

In [134]:
print(f"{string}, Current count is: {cnt}")

Hello World, Current count is: 2

In [135]:
sem_grade = 95.3333333
name = "Karen Alda"
print("Hello {} , your semestral grade is: {}".format(name, sem_grade))

Hello Karen Alda , your semestral grade is: 95.3333333

In [136]:
w_pg, w_mg, w_fg = 0.3, 0.3, 0.4
print("The weights of your semestral grades are; \
\n\t{: .2%} for Prelims\
\n\t{: .2%} for Midterms, and\
\n\t{: .2%} for Finals.".format(w_pg, w_mg, w_fg))

The weights of your semestral grades are;
	 30.00% for Prelims
	 30.00% for Midterms, and
	 40.00% for Finals.

In [137]:
x = input("enter a number: ")
x

enter a number: 11

'11'

In [226]:
name = input("Name: ")
pg = input("Enter prelim grade: ")
mg = input("Enter midterm grade: ")
fg = input("Enter finals grade: ")
sem_grade = 95
print("Hello {}, your semestral grade is: {}" .format(name, sem_grade))

Name: Karen
Enter prelim grade: 95
Enter midterm grade: 95
Enter finals grade: 95
Hello Karen, your semestral grade is: 95

## Looping Statements

### While

**While Loop** - continually executes until it reaches the value that is given in the command. While loop can also be used in statements given that the condition is true and it will stop the loop once the condition is false. [5]

In [139]:
## while loops
i, j = 12, 19
while(i<=j):
  print(f"{i}\t|\t{j}")
  i+=1

12	|	19
13	|	19
14	|	19
15	|	19
16	|	19
17	|	19
18	|	19
19	|	19

### For

**For Loop** - executes a sequence of statement or value. It is frequently used to display a sequence of lists, sets, strings, or even songs. [5] When it comes to values, it will display up to what value is declared for the range of your for loop.

In [140]:
# for(int i=0; i<10; i++){
# print(i)
# } eto pwede pang Java and c++

i=0
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [141]:
playlist = ["We don't talk about Bruno", "Family Madrigal"]
print('Now playing: \n')
for song in playlist:
  print(song)

Now playing:

We don't talk about Bruno
Family Madrigal

## Flow Control

### Condition Statements

**Condition Statements** - used for different decision-making situations. It's action depends whether a Boolean value [2] is true or false.


> The three condition statements are as follows:
- **If Statement** - executed once the given condition is met or true. 
- **Else If Statement** - executed once 'if statement' did not meet the given condition or is false.
- **Else Statement** - executed once the condition did not meet neither 'if statement' or 'else if statement'. In other words, else statement will be executed once the two above are false.

In [230]:
numeral1, numeral2 = 11, 10+2
if(numeral1 == numeral2):
  print("Yzel")
elif(numeral1>numeral2):
  print("Oreo")
else:
    print("Mocha")

Mocha

## Functions

**Functions** - statement that performs a task. It lessens the job for you can use the same code infinitely just by using different inputs. This command only runs when it is called. With functions, you can input statement to be runned or use it for computation. 


> We can declare a function through:
- **Define** - or "def" creates a function once it is followed by a parenthesis containing the statement or parameter of your choice. The function will then be called once you input the name of the function. [6]

In [231]:
def delete_user (userid):
  print("Succesfully deleted user:{}".format(userid))

def delete_all_users ():
  print("Successfully deleted all users")

In [232]:
userid = "Purple"
delete_user("Purple")
delete_all_users()

Succesfully deleted user:Purple
Successfully deleted all users

In [145]:
def add(addend1, addend2):
  return addend1 + addend2

def power_of_base4(exponent):
  return 4**exponent

In [233]:
# addend1, addend2 = 34, 35
# add(addend1, addend2)

exponent = 2
power_of_base4(exponent)

16

##Grade Calculator

In [238]:
name = input("Name: ")
course = input("Course:")
prelim = float(input("Prelim Grade: "))
midterm = float(input("Midterm Grade: "))
finals = float(input("Finals Grade: "))
sem_grade = prelim*.30+midterm*.30+finals*.40
print("Hello {} of {}! Your Semestral Grade is {}. Congratulations!" .format(name, course, sem_grade))
if (sem_grade > 70.00) :
  print("\U0001F600")
elif(sem_grade == 70.00) :
  print("\U0001F606")
else:
  print("\U0001F62D")

Name: Karen Alda
Course:B.S. ChE
Prelim Grade: 65
Midterm Grade: 63
Finals Grade: 68
Hello Karen Alda of B.S. ChE! Your Semestral Grade is 65.6. Congratulations!
ðŸ˜­